

.bamboogarden {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 8941px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bamboogarden .back {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bamboogarden .stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : auto;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .up2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .screenshot20171010at82734pm {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .path4 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .line {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 1442px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.31;
}
.bamboogarden .stackedgroup .processupload {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group3 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 454px;
  margin              : 40px 0 0 0;
  width               : 849px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group3 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 454px;
  width               : 849px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group3 .tilescopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 403px;
  width               : 718px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .a222 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 849px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 700px;
  margin              : 40px 0 0 0;
  width               : 849px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group2 .stackedgroup1 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 495px;
  position            : absolute;
  margin              : 0;
  left                : 177px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group2 .stackedgroup1 .infographicbamboopage3 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 495px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 700px;
  width               : 849px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 308px;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group .book1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 306px;
  width               : 411px;
  position            : absolute;
  margin              : 0;
  left                : 437px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .group .book2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 307px;
  width               : 411px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .upload {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .upload4 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .upload8 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .upload1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .upload6 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .stackedgroup .upload5 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 40px 0 0 0;
  width               : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .bamboogarden1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : auto;
  width               : 294px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.bamboogarden .ideasketchprocess {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1085px;
  height              : auto;
  width               : 198px;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bamboogarden .infographicposters {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2106px;
  height              : auto;
  width               : 359px;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bamboogarden .finalposter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2725px;
  height              : auto;
  width               : 359px;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bamboogarden .starrplazaproviden {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bamboogarden .finalinstallationa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4284px;
  height              : auto;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.bamboogarden .finalinstallationa .span1 {
  line-height         : 19.0px;
}
.bamboogarden .finalinstallationa .span2 {
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  line-height         : 18.0px;
}
.bamboogarden .pathcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .path2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .path3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bamboogarden .designstudio3na {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : auto;
  width               : 422px;
  position            : absolute;
  margin              : 0;
  left                : 524px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.bamboogarden .a2016copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : auto;
  width               : 294px;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.bamboogarden .questionhowmight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 879px;
  height              : auto;
  width               : 353px;
  position            : absolute;
  margin              : 0;
  left                : 982px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}